lib/src/test/resources/io/openmapper/recordxml/v5/RecursiveMap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Test" type="TypeOf_RecursiveMap"/>
    <xs:complexType name="EntryOf_TypeOf_RecursiveMap_By_string">
        <xs:complexContent>
            <xs:extension base="TypeOf_RecursiveMap">
                <xs:attribute name="Key" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TypeOf_RecursiveMap">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="recursive" type="EntryOf_TypeOf_RecursiveMap_By_string"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
</xs:schema>
